[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "==2.2.27"
djangorestframework = "==3.10"
python-dotenv = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
pillow = "*"
django-rest-passwordreset = "*"

[requires]
python_version = "3.7"
